* {
    box-sizing: border-box;
}

body {
    font-family: "montSerrat", Verdana;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353b48;
}

.container {
    width: 15rem;
    height: 15rem;
    background-color: #353b48;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px 1px rgba(39, 44, 53, 0.5);
}